<div class="calRow">
	<div class="calCol">Sunday</div>
	<div class="calCol">Monday</div>
	<div class="calCol">Tuesday</div>
	<div class="calCol">Wednesday</div>
	<div class="calCol">Thursday</div>
	<div class="calCol">Friday</div>
	<div class="calCol">Saturday</div>
</div>