

	<% if @showMainCal %>
		<% content_for :mainCalendar do %>
			<div id="calendar">
				<%= render partial: 'headers' %>
				<%= render partial: 'week', collection: @monthByWeek %>
			</div>
		<% end %>
	<% end %>
	
	<%= render partial: 'sideBarDay', collection: @monthByDay %>

 