// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Basic Reset + 100% Height */

.sideBarCal {
	display:flex;
	flex-direction:column;
	font-style:italic;
  	font-weight:400;
  	background: #31809F;
}
// .sideBarCal:first-child::after {
	// content: attr(data-month);
// }
.sideBarCal>div {
	color:rgba(255,255,255,.9);
	border: thin solid rgba(0,0,0,.2);
}
.sideBarCal>.month {
	font-size:2em;
	text-align:center;
	padding-right:.5em;
}
.sideBarCal>.day {
	padding-left:.5em;
	height:3em;
}
.sideBarCal>.day>.right {
	margin-right:4em;
}


// .sideBarCal>.day::before {
// 	content: attr(data-day);
// }

// .firstDayOfMonth::before {
// 	content: attr(data-beginmonth);
// 	display:block;
// 	font-size:1.5em;

// }